  <form [formGroup]="employeeForm" #form="ngForm">

    <div style="text-align: center;margin-top: 10px;">
      <h4>
        <button class="btn btn-success">Employee list Details!</button> 
      </h4>
    </div>
      
    <div class="container">
      <div class="d-grid gap-2 d-md-flex justify-content-md-end">
        <button type="button" class="btn btn-secondary" (click)="openAddEditEmpForm()"> ADD EMPLOYEE  </button>
      </div>
  </div>
    <!-- <table class="table table-hover">
        <thead class="thead-dark">
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Phone</th>
                <th>Price</th>
                <th>Salary</th>
                <th>Quantity</th>
                <th>Department</th>
                <th>Action</th>
              </tr>
        </thead>
    <tbody>
        <tr *ngFor="let product of employee">
            <td>{{ product.name }}</td>
            <td>{{ product.email }}</td>
            <td>{{ product.phone }}</td>
            <td>{{ product.price }}</td>
            <td>{{ product.salary }}</td>
            <td>{{ product.quantity }}</td>
            <td>{{ product.department }}</td>
            <td>
              <button type="button" class="btn btn-primary" (click)="deleteProduct(product.id)">Delete</button>
            </td>
          </tr>
    </tbody>
    </table> -->

    <div class="main-body">

      <div class="form-group">
        <label for="filter">Filter</label>
        <input type="text" id="filter" class="k-textbox" (keyup)="applyFilter($event)" placeholder="Ex. Mia" #input>
      </div>
    
      <div class="table-container">
        <table class="k-grid">
          <thead>
            <tr>
              <th class="k-header">Name</th>
              <th class="k-header">Email</th>
              <th class="k-header">Phone</th>
              <th class="k-header">Price</th>
              <th class="k-header">Salary</th>
              <th class="k-header">Education</th>
              <th class="k-header">Quantity</th>
              <th class="k-header">Department</th>
              <th class="k-header">Action</th>
            </tr>
          </thead>
          <tbody>
            <tr class="k-grid-row" *ngFor="let row of filteredEmployee">
              <td class="k-cell">{{row.name}}</td>
              <td class="k-cell">{{row.email}}</td>
              <td class="k-cell">{{row.phone}}</td>
              <td class="k-cell">{{row.price}}</td>
              <td class="k-cell">{{row.salary}}</td>
              <td class="k-cell">{{row.education}}</td>
              <td class="k-cell">{{row.quantity}}</td>
              <td class="k-cell">{{row.department}}</td>
              <td class="k-cell">
                <button kendo-button look="flat" icon="pencil" themeColor="primary" (click)="openEditForm(row)"></button>
                <button kendo-button look="flat" icon="trash" themeColor="error" (click)="deleteEmployee(row.id)"></button>
              </td>
            </tr>
            <tr class="k-grid-row" *ngIf="filteredEmployee.length === 0">
              <td class="k-cell" [attr.colspan]="9">No data matching the filter "{{input.value}}"</td>
            </tr>
          </tbody>
        </table>

        <div class="k-pager" role="toolbar" aria-label="Paging"></div>
      </div>
    </div>
    


  </form>
