/* .example-card {
    max-width: 400px;
    margin-bottom: 8px;
    padding-block: 20px;
  } */

  .example-card {
    max-width: 400px;
    ruby-align: center;
    margin: 2em auto;
  }
  
  .example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }