<mat-toolbar color="primary">
  <span routerLink="/">
    Crud Application
  </span>
  <span class="example-spacer"></span>
  <!-- <button mat-raised-button routerLink="login" style="margin-right: 10px;"> 
    {{isAuthenticated ? 'Login': 'Logout'}}
  </button> -->


  <button mat-button routerLink="/login" *ngIf="!isAuthenticated">
    <mat-icon>power_settings_new</mat-icon>
    Login
  </button>
  <button mat-button *ngIf="isAuthenticated" (click)="logout()">
    <mat-icon>exit_to_app</mat-icon>
    Logout
  </button>
  <button mat-button routerLink="/employee-regis">
    Signup
  </button>

</mat-toolbar>



<!-- <mat-toolbar>
  
  <div fxLayout="row" fxShow="false" fxShow.gt-sm>
    <button mat-button routerLink="/login" *ngIf="!isAuthenticated">
      <mat-icon>power_settings_new</mat-icon>
      Login
    </button>
    <button mat-button *ngIf="isAuthenticated" (click)="logout()">
      <mat-icon>exit_to_app</mat-icon>
      Logout
    </button>
    <button mat-button routerLink="/game">
      <mat-icon>gamepad</mat-icon>
      Play
    </button>
  </div>
  <button mat-button fxHide="false" fxHide.gt-sm>
    <mat-icon>menu</mat-icon>
  </button>
</mat-toolbar> -->

<!-- <mat-menu x-position="before" #menu="matMenu"> -->
<mat-menu>
  <button mat-menu-item routerLink="/login" *ngIf="!isAuthenticated">
    <mat-icon>power_settings_new</mat-icon>
    Login
  </button>
  <button mat-menu-item *ngIf="isAuthenticated" (click)="logout()">
    <mat-icon>exit_to_app</mat-icon>
    Logout
  </button>
</mat-menu>






<router-outlet> </router-outlet>


