  <form [formGroup]="employeeForm" #form="ngForm">
    <div class="container">
        <!-- <app-employee-form></app-employee-form> -->
    </div>
    <hr>
    <p>Employee-list works!</p>
   
    <!-- <table class="table table-hover">
        <thead class="thead-dark">
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Phone</th>
                <th>Price</th>
                <th>Salary</th>
                <th>Quantity</th>
                <th>Department</th>
                <th>Action</th>
              </tr>
        </thead>
    <tbody>
        <tr *ngFor="let product of employee">
            <td>{{ product.name }}</td>
            <td>{{ product.email }}</td>
            <td>{{ product.phone }}</td>
            <td>{{ product.price }}</td>
            <td>{{ product.salary }}</td>
            <td>{{ product.quantity }}</td>
            <td>{{ product.department }}</td>
            <td>
              <button type="button" class="btn btn-primary" (click)="deleteProduct(product.id)">Delete</button>
            </td>
          </tr>
    </tbody>
    </table> -->

  </form>
