<p>employee-form works!</p>

<div class="dialog-title">
    <h1>Employee Form</h1>
</div>
<form [formGroup]="empForm" (ngSubmit)="onFormSubmit()">
    <div class="dialog-content content">
        <div class="row">
            <div class="form-group">
                <label for="name">First name</label>
                <input type="text" id="name" class="k-textbox" placeholder="Ex. Technical" formControlName="name">
            </div>
            <div class="form-group">
                <label for="phone">Phone</label>
                <input type="text" id="phone" class="k-textbox" placeholder="phone number" formControlName="phone">
            </div>
        </div>

        <div class="row">
            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" id="email" class="k-textbox" placeholder="Ex. test@gmail.com" formControlName="email">
            </div>

            <div class="form-group">
                <label for="price">Price</label>
                <input type="text" id="price" class="k-textbox" placeholder="Enter Price" formControlName="price">
            </div>
        </div>

        <div class="row">
            <div class="form-group">
                <label for="education">Education</label>
                <select id="education" class="k-textbox" formControlName="education">
                    <option value="">Select Education</option>
                    <option *ngFor="let val of education" [value]="val">{{val}}</option>
                </select>
            </div>
            <div class="form-group">
                <label for="salary">Salary</label>
                <input type="text" id="salary" class="k-textbox" placeholder="Ex. Google" formControlName="salary">
            </div>
        </div>
        <div class="row">
            <div class="form-group">
                <label for="quantity">Quantity</label>
                <input type="number" id="quantity" class="k-textbox" placeholder="Ex. 4" formControlName="quantity">
            </div>
            <div class="form-group">
                <label for="department">Department</label>
                <input type="text" id="department" class="k-textbox" placeholder="Ex. 12" formControlName="department">
            </div>
        </div>
    </div>
    <div class="dialog-actions action">
        <button kendo-button type="button" (click)="onCancel()">Cancel</button>
        <button kendo-button themeColor="primary" type="submit">{{data ? 'Update': 'Save'}}</button>
    </div>
</form>

